{% extends "base.html.twig" %}

{% block title %}
	Strona główna
{% endblock %}

{% block body %}
	<main>
		<section class="put-data-section">
			<div class="container">
				<div class="row form-csv rounded-2 justify-content-md-center align-items-center align-self-center bg-dark bg-gradient text-light">
					<h2 class="text-center">Menagment of data - MCSV</h2>
                    <form method="POST" action="/add" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="name" class="name">Name</label>
							<input name="name" type="text" class="form-control" id="name" required>
						</div>
                        <div class="mb-3">
							<label for="surname" class="surname">Surname</label>
							<input name="surname" type="text" class="form-control" id="surname" required>
						</div>
						<div class="mb-3">
							<label for="e-mail" class="form-label">Email address</label>
							<input name="email" type="email" class="form-control" id="email" required>
						</div>
                        <div class="mb-4">
							<label for="tel" class="form-label">Telephone</label>
							<input name="tel" type="text" class="form-control" id="tel">
						</div>
                        <div class="input-group mb-3">
                            <input name="file" type="file" class="form-control" id="file" >
                        </div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
